@import '../../../../../css/mixins/typography';
@import '../../../../../css/mixins/colors';
@import '../../../../../css/mixins/layout';

li.user-container {
	border: 1px solid #b4bac1;
	list-style: none;
	margin-bottom: 12px;
	text-align: center;
}

.user-links button {
	font-size: 18px;
	cursor: pointer;
	height: 28px;
	border: none;
	margin: 0 28px;
	color: #fff;
	transition: 0.1s background-color ease;
	&:hover {
		background-color: #aa6055;
 }
}

.img-item {
	height: 80px;
	width: 80px;
}

.topic {
	@apply --flexNotMoreThan200;
	font-size: var(--fontMedium);
}

.count {
	font-size: 10px;
}

.button {
	font-size: var(--fontMedium);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: none;
	margin: 0 28px;
	color: #fff;
}
