@import 'settings';
@import 'mixins/layout';
@import 'mixins/typography';
@import 'mixins/colors';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://bootswatch.com/cyborg/bootstrap.min.css);


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMontserrat);
  font-size: 12px;
  background-color: #303030;
  color: var(--colorPrimaryGray);
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}


/* --------------- HIGHLIGHTING ----------------*/
*::selection {background:#4ED6B7;}
*::-moz-selection {background:#4ED6B7;}


/* --------------- MAIN MARKDOWNS ----------------*/
h1 {
  color: var(--colorPrimaryGray);
  font-size: 36px;
}

h2 {
  color: var(--colorPrimaryGray);
  font-size: 26px;
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

/* --------------- MAIN LINKS ----------------*/
a:link, a:visited { text-decoration: none; color: #fff; }
a:hover, a:focus  { text-decoration: none; color: #0097a7; }
a:active          { text-decoration: none; color: #fff; }


/* --------------- FORMS ----------------*/
.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
