@import '../../../../css/settings';
@import '../../../../css/mixins/typography';
@import '../../../../css/mixins/colors';
@import '../../../../css/mixins/button';
@import '../../../../css/mixins/input';

.login {
  width: 420px;
  margin: 0 auto;
  background-color: var(--colorLimedSpruce);
  border: 2px solid var(--colorMercury);
  border-radius: var(--globalRadius);
}

.waiting {
  .loading {
    display: block;
  }
}

.alternative {
  background: var(--colorWhite);
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.alternative-link {
  color: var(--colorDodgerBlue);
  font-weight: bold;
  cursor: pointer;
}

.loading {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  margin-top: -40px;
  padding: 16px 12px;
}

label {
  color: rgb(113, 121, 127);
  font-size: 16px;
}

/********************* fields name (for the signUp form) *********************/
.nameFields-container {
  display: flex;
  justify-content: space-between;
}

.nameFields-container .firstName-field,
.nameFields-container .lastName-field {
  width: 48% !important;
}

/********************* fields gender (for the signUp form) *********************/
.form-gender-container {
  margin-top: 20px;
}

.form-gender-container .input-gender-container {
  display: flex;
}

.form-gender-container .input-gender-container .gender-input {
  width: 120px !important;
}

/********************* fields google auth *********************/
.google-container {
  padding: 16px 12px;
}

.header {}

.heading {
  @apply --subHeading;
  padding: 16px 12px;
  text-align: center;
}

.input {
  @apply --input;
}

.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

.button {
  @apply --greenButton;
}

.hint {
  @apply --small;
  color: var(--colorBombay);
}
