@import '../../../css/mixins/colors';
@import '../../../css/mixins/typography';

.navigation {
  padding: 0 28px;
  font-size: 17px;
}

a.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 20px;
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
