@import '../../../css/settings';
@import '../../../css/mixins/colors';
@import '../../../css/mixins/typography';

.chatbox-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 30px;

    opacity: 0;
    visibility: hidden;

    color: #fff;
    height: 330px;
    width: 260px;
    background-color: #7c7c7c;

    box-shadow: 0 2px 10px 2px hsla(210,1%,58%,.3);
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.show {
    opacity: 1;
    visibility: visible;
    bottom: 10px;
}

/************************ HEADER ************************/
.chatbox-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color: #4e8cff;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.chatbox-header-title {
    margin-left: 10px;
}

.chatbox-header-close {
    padding: 10px;
    cursor: pointer;
}

/********************** MESSAGE LIST **********************/
.chatbox-messages-container {
    height: 80%;
    overflow-y: auto;
    background-size: 100%;
    padding: 10px;
}

.message-content {
    display: flex;
    padding-bottom: 10px;
}


.message-content .message-avatar {
    background-color: #d18456;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    align-self: center;
}

.message-content .message-text {
    color: #263238;
    background-color: #f4f7f9;
    padding: 7px;
    border-radius: 6px;
    font-size: 11px;
    line-height: 1.4;
    -webkit-font-smoothing: subpixel-antialiased;
}

/********** Left messages **********/
.message-content.received {
    justify-content: flex-start;
}

.message-content.received .message-avatar {
    margin-right: 15px;
}


/********** Right messages **********/
.message-content.sent {
    justify-content: flex-end;
}

.message-content.sent .message-avatar {
    margin-left: 15px;
}
.message-content.sent .message-text {
    text-align: right;
}


/************************ INPUT ************************/
.chatbox-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chatbox-input-container input {
    width: 100%;
}