.form-horizontal {
	width: 320px;
}

/********************* fields gender *********************/
.form-gender-container {
	margin-top: 20px;
}

.form-gender-container .input-gender-container {
	display: flex;
}

.form-gender-container .input-gender-container .gender-input {
	width: 120px !important;
}

.cropper-container img {
	max-width: 100%; /* require by Cropper.js */
}

.dropzone-container {
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: solid;
}

.dropzone-container .dropzone-input {
    display: inline-block;
    cursor: pointer;
    height: 155px;
    width: 155px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
}

.dropzone-container .dropzone-text {
    margin: 12px;
    text-align: center;
}

.dropzone-container .dropzone-button {
    margin-top: 12px;
}

.dropzone-container .dropzone-button span {
    font-size: 10px !important;
}