.form-horizontal {
	width: 320px;
}

/********************* fields gender *********************/
.form-gender-container {
	margin-top: 20px;
}

.form-gender-container .input-gender-container {
	display: flex;
}

.form-gender-container .input-gender-container .gender-input {
	width: 120px !important;
}

.cropper-container img {
	max-width: 100%; /* require by Cropper.js */
}

.dropzone-container {
    width: 150px;
}

.dropzone-container .dropzone-input {
    cursor: pointer;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    text-align: center;
}

.dropzone-container .dropzone-text {
    margin-top: 12px;
    text-align: center;
}