@import '../settings';
@import '../common/typography';
@import '../common/card';

.list-users-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-section {
  @apply --card;
  width: 100%;
  border-radius: var(--globalRadius);
}

.header {
  @apply --title;
  @apply --subHeading;
  background: #ed193a;
  color: #fff;
}

.list {
  list-style: none;
  padding: 16px;
}

.table {
  width: 100%;
}

